<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <body class="foto-fondo">
        <h1 class="titulo-color-galeria">Galeria</h1>
        <header>
            <nav class="centrando-titulo">
                <a href="../index.html">inicio</a>
                <a href="contactos.html">contacos</a>
                <a href="galeria.html">galeria</a>
                <a href="proyectos.html">proyectos</a>
                <a href="ubicacion.html">ubicacion</a>
            </nav>
        </header>
    
        <figure class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ke6Ug1mBNMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
        
        <footer class="footer">
            <address>
                <strong class="pie-redes">
                    <li>Coderhouse</li>
                    <li>instagram: santi_marchese</li>
                    <li>mail: marchese.santiago@hotmail.com</li>
                </strong>
            </address>
        </footer>
</body>
</html>