<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <body class="color-fondo">
    <h1>Proyecto</h1>
    <header>
        <nav class="centrando-titulo">
            <a href="../index.html">inicio</a>
            <a href="contactos.html">contacos</a>
            <a href="galeria.html">galeria</a>
            <a href="proyectos.html">proyectos</a>
            <a href="ubicacion.html">ubicacion</a>
        </nav>
    </header>

    <h3>supuesta informacion </h3>
    <!--tambla grid-->
    <div class="grid-container">
        
        <div class="noticia-1">
            <div class="uno">1</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non a impedit id sed. Eum ullam natus molestias recusandae laboriosam doloribus minima, in autem fuga nobis, dicta culpa itaque? Quis suscipit rerum, obcaecati enim ullam eum magnam adipisci repellat quibusdam tempore maxime ex a commodi itaque ipsam maiores culpa vel at!</p>
        </div>
        
        <div class="noticia-2">
            <div class="dos">2</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sequi maxime non, vel mollitia magnam ipsam reprehenderit aperiam impedit quisquam, reiciendis quo possimus, deserunt repudiandae dicta odio aut odit fugit.</p>
        </div>
        
        <div class="noticia-3">
            <div class="tres">3</div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam autem dicta aliquid excepturi. Libero error incidunt tempore, veritatis quos nemo cum maiores, sed, odio qui commodi? Rem quam dolor vero, nulla amet aliquid explicabo non. Eum mollitia eligendi omnis ratione.</p>
        </div>
        
        <div class="noticia-4">
            <div class="cuatro">4</div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum harum iure et provident molestias! Rem autem tempora consectetur aut maiores accusantium expedita sed, adipisci eius hic fugiat porro, necessitatibus possimus quibusdam id vel tenetur incidunt iusto sint quos nulla! Repellat molestias, reiciendis ut dolore voluptates culpa veritatis eius doloremque odio!</p>
        </div>
    </div>
    
    
    <div class="noticia-5">
        <footer class="footer-redess">
            <a href="https://www.coderhouse.com/?utm_term=coderhouse&gclid=Cj0KCQjwmPSSBhCNARIsAH3cYgYJ-csCEPYZNQWHvjdjBVSiFLnEQ9jO--gBm4BPtvcNnJW4C-v_1SAaAggrEALw_wcB">Coderhouse</a>
            <a href="https://www.instagram.com/">instagram</a>
            <a href="https://www.facebook.com/">facebook</a>
        </footer>
    </div>
    

</body>
</html>